<html>
<style>
p{font-family:Cambria}
em{font-family: Cambria}
h2{font-family:Cambria}
li{font-family:Cambria}
title{font-family:Cambria}
body{background-image:url(https://www.jaggaer.com/app/uploads/2020/10/covid-19-webinar-blog.jpg)}
</style>
<title>COVID Metadata</title>
<head>
<h2 style="text-align:center">Presenting data about COVID related genes and diseases</h2>
<p style="text-align:right;">Based on DisGeNET COVID-19 data collection.</p>
</head><br><br>

<p><h3>The following information are available for display:</h3></p>
<em><mark>IMPORTANT:</mark> due to the data collections' size some operations may require more time than usual. Your patience will be rewarded! </em>
<ul>
  <li><h4><a href= "/shapes">Numerical metadata of each data collection</a></h4></li>
  <p>This operation displays the dimension of each data collection, which consists on the number of columns and rows</p>
  <li><h4><a href= "/semantics">Information included in data collections</a></h4></li>
  <p>This operation displays the labels present in the each data collection</p>
  <li><h4><a href= "/list.genes">The numbered list of genes present in the data collection</a></h4></li>
  <p>This operation lists the genes present in data collection, as well as the total number</p>
  <li><h4><a href= "/list.diseases">The numbered list of diseases present in the data collection</a></h4></li>
  <p>This operation lists the diseases present in data collection, as well as the total number</p>
  <li><h4><a href= "/sentences.Gene">Genes related to Covid</a></h4></li>
  <p>This operation displays the sentences found in literature which affirm the connection of the given gene with COVID</p>
  <li><h4><a href= "/sentences.Disease">Diseases related to Covid</a></h4></li>
  <p>This operation displays the sentences found in literature which affirm the connection of the given disease with COVID</p>
  <li><h4><a href= "/top10">The 10-top association between genes and diseases</a></h4></li>
  <p>This operation displays the most frequent relations between genes and diseases</p>
  <li><h4><a href= "/associations.gene">The list of diseases associated with a gene</a></h4></li>
  <p>This operation displays the list of all diseases associated with a given gene</p>
  <li><h4><a href= "/associations.disease">The list of genes associated with a disease</a></h4></li>
  <p>This operation displays the list of all genes associated with a given disease</p>
</ul>
<br><br><br>
<p style ="text-align:right;">Developed by: Kurti Amelia, Misuri Ilaria, Zafferani Pietro</p>
</html>


