<html>
<style>
p{font-family:Cambria}
h2{font-family:Cambria}
h3{font-family:Cambria}
title{font-family:Cambria}
body{background-image:url(https://www.jaggaer.com/app/uploads/2020/10/covid-19-webinar-blog.jpg)}  
</style>
<title>Dimensions</title>
<h2>Numerical Metadata</h2>
<head>
<h3>Below are presented the dimensions of each data collection:</h3><br>
</head>
<body>

<p>The Gene data collection consists of {{Sh_1[0]}} rows and {{Sh_1[1]}} columns.</p>

<br><br>
<p>The Disease data collection consists of {{Sh_2[0]}} rows and {{Sh_2[1]}} columns.</p>
<br><br>
<p style='text-align:right'><a href='/'>go back to homepage</a></p>
</body>
</html>
